@model Language

<div>
    <form class="addeditLC" method="post" asp-controller="Language" asp-action="Add">
    
        <div id="inputFields">
            <label>Language ID</label>
            <input type="type" name="name" placeholder="Auto generated" />
        </div>
        

        <div id="inputFields">
            <label>Language</label>
            <input asp-for="LanguageN" type="text" />
        </div>
        
        
        <input type="submit" value="Add"  />
    </form>
</div>